/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0066cc;
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
